.sidebar {
  font-family: sans-serif;
 
  height: 100vh;
  background-color: white;
  padding: 30px;
  margin-right: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-heading h2 {

  font-weight: bold;
  margin: 0;
  color: #000;
}

.sidebar-menu {
  margin-top: 20px;
}

.sidebar-menu h6 {
    font-size: 12px;
  color: grey;
  margin: 0;
}

.sidebar-menu li {
  margin: 30px 0;
  color: grey;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.sidebar-menu li:hover {
  color: #000;
}

.sidebar-menu li svg {
    margin-right: 20px; 
  }

